* {
	margin: 0;
}

body {
	overflow: hidden;
}

#log {
	position: absolute;
	bottom: 16px;
	left: 16px;
	height: 200px;
}

#menu {
	position: absolute;
	top: 16px;
	left: 16px;
}

.box {
	background: white;
	overflow: auto;
	width: 500px;
}

.bottomLock > p:first-child {
	padding-top: 200px;
}