* {
	margin: 0;
}

body {
	overflow: hidden;
}

#log {
	position: absolute;
	bottom: 16px;
	left: 16px;

	height: 200px;
	width: 450px;
}

#menu {
	position: absolute;
	top: 16px;
	left: 16px;
}

#menu .multi-choice > li {
	cursor: pointer;
}

#menu .multi-choice > li.checked {
	color: red;
}

.box {
	background: rgba(30, 30, 30, 0.4);
	overflow: hidden;

	border: 0.5cm solid transparent;
	border-radius: 5px;

	color: white;
	font-size: 1.2em;
	text-shadow: black 1px 3px 2px;
}

.box .menu-title {
	margin-bottom: 16px;
}

.box p {
	padding-top: 0.2em;
}

.bottomLock > p:first-child {
	padding-top: 200px;
}