* {
	margin: 0;
}

body {
	overflow: hidden;
}

#log {
	position: absolute;
	bottom: 16px;
	left: 16px;

	height: 200px;
	width: 600px;
}

#menu {
	position: absolute;
	top: 16px;
	left: 16px;
}

.box {
	background: rgb(30, 30, 30);
	overflow: auto;

	border: 0.5cm solid rgb(30, 30, 30);
	border-radius: 5px;

	color: white;
	font-size: 1.2em;
	text-shadow: black 1px 3px 2px;
}

.box .menu-title {
	margin-bottom: 16px;
}

.box p {
	padding-top: 0.2em;
}

.bottomLock > p:first-child {
	padding-top: 200px;
}