* {
	margin: 0;
}

body {
	overflow: hidden;
}

#log {
	position: absolute;
	bottom: 16px;
	left: 16px;

	height: 200px;
	width: 450px;
}

#menu {
	position: absolute;
	top: 16px;
	left: 16px;
}

#menu .multi-choice {
	list-style-type: none;
	padding-left: 0;
}

#menu .multi-choice > li {
	cursor: pointer;
	padding: 4px;
}

#menu .multi-choice > li.checked {
	color: rgb(255, 224, 84);
	background: rgba(214, 236, 255, 0.35);
	border-radius: 2px;
}

.box {
	background: rgba(123, 123, 123, 0.67);
	overflow: hidden;

	border: 0.5cm solid transparent;
	border-radius: 5px;

	color: white;
	font-size: 1.2em;
	text-shadow: black 0px 2px 2px;
}

.box .menu-title {
	margin-bottom: 16px;
}

.box p {
	padding-top: 0.2em;
}

.bottomLock > p:first-child {
	padding-top: 200px;
}